Options +FollowSymLinks
RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^/clippy$ /assets/clippy-stencil.png [NC]
RewriteRule clippy assets/clippy-stencil.png [L] [NC]